# === IDE ===
.idea/
*.iml

# === Gradle ===
.gradle/
local.properties
gradle-app.setting
gradle.properties

# === Android build ===
**/build/
.cxx/
.externalNativeBuild/

# === Logs ===
*.log

# === Signing / Secrets ===
*.jks
*.keystore

# === OS ===
.DS_Store
Thumbs.db

# === Misc ===
*.orig
captures/
